
.cover-container {
    max-width: 90em;
}

.p-3 {
    padding: 1rem !important;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.flex-column {
    flex-direction: column !important;
}
.h-100 {
    height: 100% !important;
}
.w-100 {
    width: 100% !important;
}



.d-flex {
    display: flex !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}
.text-white {
    color: #fff !important;
}
.text-center {
    text-align: center !important;
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-image: url('');
    background-size: cover;    /* cover entire area */
    background-repeat: no-repeat; /* don't tile */
    background-position: center;  /* center the image */
    background-attachment: fixed;
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
/*  custom styling  */

.orange-btn {
  background-color: #fd7e14;
  border-color: #fd7e14;
}

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 4rem; /* adjust size as needed */
    font-weight: 500; /* optional: bold */
    line-height: 1.2; /* optional: spacing between lines */
    color: #000; /* optional: text color */
}
h2 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 3rem; /* adjust size as needed */
    font-weight: 500; /* optional: bold */
    line-height: 1.2; /* optional: spacing between lines */
    color: #000; /* optional: text color */
}